__pycache__/database.cpython-39.pyc
env/*
*.cpython-39.pyc
opensea/__pycache__/database.cpython-38.pyc
dashApp/pages/__pycache__/*
__pycache__/app.cpython-38.pyc
dashApp/pages/__pycache__/ape_sales.cpython-38.pyc
dashApp/pages/__pycache__/ape_sales.cpython-38.pyc
__pycache__/*.pyc
*/__pycache__/*.cpython-38.pyc
opensea/__pycache__/__init__.cpython-38.pyc
pages/__pycache__/ape_sales.cpython-38.pyc
ape_gang_analysis.tex
ape-gang.jpg
ape_gang_analysis_files/figure-html/unnamed-chunk-3-1.png
ape_gang_analysis_files/figure-html/unnamed-chunk-5-1.png
opensea/__pycache__/__init__.cpython-36.pyc
downloads/*
